@model Sexshop_TutsiPop.Models.clientes

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />


</head>

<h3>Esta seguro de elimiar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_direccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="cedula_cliente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
