@model IEnumerable<Sexshop_TutsiPop.Models.clientes>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cedula_cliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cedula_cliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cedula_cliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
