@model IEnumerable<Sexshop_TutsiPop.Models.clientes>

@{
    ViewData["Title"] = "Lista de clientes";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />


<h1>Lista de clientes</h1>


<a href="@Url.Action("Create", "clientes")" class="btn-add">
    + Agregar Nuevo cliente
</a>

<table class="modern-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.cedula_cliente)</th>
            <th>@Html.DisplayNameFor(model => model.apellido)</th>
            <th>@Html.DisplayNameFor(model => model.nombre)</th>
            <th>@Html.DisplayNameFor(model => model.correo)</th>
            <th>@Html.DisplayNameFor(model => model.numero_telefono)</th>
            <th>@Html.DisplayNameFor(model => model.id_direccion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.cedula_cliente)</td>
                <td>@Html.DisplayFor(modelItem => item.apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.correo)</td>
                <td>@Html.DisplayFor(modelItem => item.numero_telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.id_direccion)</td>
                <td class="action-cell">
                    <!-- Botón Editar -->
                    <button class="action-btn" title="Editar">
                        <a asp-action="Edit" asp-route-id="@item.cedula_cliente">
                            <i class='bx bx-edit'></i>
                        </a>
                    </button>

                    <!-- Botón Detalles -->
                    <button class="action-btn" title="Detalles">
                        <a asp-action="Details" asp-route-id="@item.cedula_cliente">
                            <i class='bx bx-show-alt'></i>
                        </a>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn" title="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.cedula_cliente">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Botón para exportar a Excel -->
<a href="@Url.Action("ExportToExcel", "clientes")" class="btn-export">
    <i class='bx bx-table'> Descargar Excel</i>
</a>
<link rel="stylesheet" href="~/css/ExcelStyle.css" />