@model IEnumerable<Sexshop_TutsiPop.Models.detalleventaInfo>

@{
    ViewData["Title"] = "Lista de detalles de ventas";
}

<!-- Importar estilos de FontAwesome y Boxicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />

<!-- Encabezado de la página -->
<h1>Lista de detalles de venta</h1>

@* 
<a href="@Url.Action("Create", "detalle_ventas")" class="btn-add">
    + Agregar Nuevos detalles de ventas
</a> *@

<!-- Tabla de proveedores -->
<table class="modern-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.id_detalle)</th>
            <th>@Html.DisplayNameFor(model => model.id_venta)</th>
            <th>@Html.DisplayNameFor(model => model.nombre_producto)</th>
            <th>@Html.DisplayNameFor(model => model.cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.descuento)</th>
   
           

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id_detalle)</td>
                <td>@Html.DisplayFor(modelItem => item.id_venta)</td>
                <td>@Html.DisplayFor(modelItem => item.nombre_producto)</td>
                <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.descuento)</td>

    
            

                <td class="action-cell">
                    <!-- Botón Editar -->
                    <button class="action-btn" title="Editar">
                        <a asp-action="Edit" asp-route-id="@item.id_detalle">
                            <i class='bx bx-edit'></i>
                        </a>
                    </button>

                    <!-- Botón Detalles -->
                    <button class="action-btn" title="Detalles">
                        <a asp-action="Details" asp-route-id="@item.id_detalle">
                            <i class='bx bx-show-alt'></i>
                        </a>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn" title="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.id_detalle">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
