@model Sexshop_TutsiPop.Models.clientes
@{
    ViewData["Title"] = "continuar compra";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="~/css/continuarcompra.css" />
</head>

<body>
    <div class="contenedor">
        <h1 class="titulo">Continuar compra</h1>
        <p class="subtitulo">Llenar datos para seguir con la compra</p> <!-- Subtítulo añadido -->
        <form method="post" asp-action="Continuar compra">
            <div class="form-group">
                <label for="cedula_cliente">Cédula</label>
                <input type="text" class="form-control" id="cedula_cliente" name="cedula_cliente" value="@Model.cedula_cliente" required />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="@Model.nombre" required />
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" value="@Model.apellido" required />
            </div>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" value="@Model.correo" required />
            </div>
            <div class="form-group">
                <label for="numero_telefono">Número de Teléfono</label>
                <input type="text" class="form-control" id="numero_telefono" name="numero_telefono" value="@Model.numero_telefono" required />
            </div>
            <button type="submit" class="btn btn-primary">Guardar y continuar compra</button>
        </form>
    </div>
</body>
</html>
