@model FinalizarCompraViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar Compra</title>
    <link href="~/css/finalizarCompra.css" rel="stylesheet" /> <!-- Asegúrate de enlazar tu archivo CSS -->
    <link href="~/css/qrContainer.css" rel="stylesheet" /> <!-- Asegúrate de enlazar tu archivo CSS -->

</head>
<body>
    <h2>Finalizar Compra</h2>

    <h3>Resumen de la compra:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carrito)
            {
                <tr>
                    <td>@item.id_producto</td>
                    <td>@item.cantidad</td>
                    <td>@item.precio.ToString("C")</td>
                    <td>@((item.cantidad * item.precio).ToString("C"))</td> <!-- Aplicar formato de moneda -->
            </tr>
        }
    </tbody>
    </table>

    <h3>Total de la compra: @Model.TotalCompra.ToString("C")</h3>

    <form method="post" action="@Url.Action("RealizarCompra", "Carrito")">
        <input type="hidden" name="clienteId" value="@Model.Cliente.cedula_cliente" />
        <button type="submit" class="btn btn-success">Confirmar Compra</button>
    </form>
<div class="qr-container">
    <div class="qr">
        <h2>¡Escanéame!</h2>
        <p>Escanea el QR para validar el pago</p>
    </div>

    <div class="qr-image">
        <img src="~/images/qrcode-generado.png" alt="QR Tutsipop">
    </div>
</div>
</body>
</html>
