@model Sexshop_TutsiPop.Models.entregasInfo

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>
<h1>Entrega</h1>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_entrega)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.id_pedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.id_pedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccion_entrega)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ciudad_entrega)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.barrio_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.barrio_entrega)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_empleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre_empleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fecha_entrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.estado_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estado_entrega)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_entrega">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
