@model Sexshop_TutsiPop.Models.Proveedores

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>
<h1>Provedor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero_contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero_contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_proveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
