@model IEnumerable<Sexshop_TutsiPop.Models.ProveedoresDireccion>

@{
    ViewData["Title"] = "Lista de Proveedores";

    Layout = null;
}

<h1>Lista de Proveedores</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre de la Empresa</th>
            <th>Nombre de Contacto</th>
            <th>Número de Contacto</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>Barrio</th>
            <th>Dirección</th>
            <th>Activo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proveedor in Model)
        {
            <tr>
                <td>@proveedor.nombre_empresa</td>
                <td>@proveedor.nombre_contacto</td>
                <td>@proveedor.numero_contacto</td>
                <td>@proveedor.correo</td>
                <td>@proveedor.activo</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Proveedores" asp-action="Create" class="btn btn-primary">Agregar Proveedor</a>
