@model Sexshop_TutsiPop.Models.productos

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>

<h3>Esta seguro de elimiar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unidades_stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unidades_stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_producto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
