@model IEnumerable<Sexshop_TutsiPop.Models.productosInfo>

@{
    ViewData["Title"] = "Lista de productos";
}

<!-- Importar estilos de FontAwesome y Boxicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />

<!-- Encabezado de la página -->
<h1>Lista de productos</h1>


<a href="@Url.Action("Create", "productos")" class="btn-add">
    + Agregar Nuevo productos
</a>


<table class="modern-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.id_producto)</th>
            <th>@Html.DisplayNameFor(model => model.nombre_producto)</th>
            <th>@Html.DisplayNameFor(model => model.categoria)</th>
            <th>@Html.DisplayNameFor(model => model.proveedor)</th>
            <th>@Html.DisplayNameFor(model => model.unidades_stock)</th>
            <th>@Html.DisplayNameFor(model => model.precio)</th>
            <th>@Html.DisplayNameFor(model => model.activo)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id_producto)</td>
                <td>@Html.DisplayFor(modelItem => item.nombre_producto)</td>
                <td>@Html.DisplayFor(modelItem => item.categoria)</td>
                <td>@Html.DisplayFor(modelItem => item.proveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.unidades_stock)</td>
                <td>@Html.DisplayFor(modelItem => item.precio)</td>
                <td>@Html.DisplayFor(modelItem => item.activo)</td>
                <td class="action-cell">
                    <!-- Botón Editar -->
                    <button class="action-btn" title="Editar">
                        <a asp-action="Edit" asp-route-id="@item.id_producto">
                            <i class='bx bx-edit'></i>
                        </a>
                    </button>

                    <!-- Botón Detalles -->
                    <button class="action-btn" title="Detalles">
                        <a asp-action="Details" asp-route-id="@item.id_producto">
                            <i class='bx bx-show-alt'></i>
                        </a>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn" title="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.id_producto">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Botón para exportar a Excel -->
<a href="@Url.Action("ExportToExcel", "Productos")" class="btn-export">
    <i class='bx bx-table'> Descargar Excel</i>
</a>
<link rel="stylesheet" href="~/css/ExcelStyle.css" />