@model IEnumerable<Sexshop_TutsiPop.Models.productos>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidades_stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidades_stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_producto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_producto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_producto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
