@model Sexshop_TutsiPop.Models.ventas

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>
<h1>Venta</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cedula_empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cedula_empleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_venta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_metodo_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_metodo_pago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_venta">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
