@model Sexshop_TutsiPop.Models.pedidos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_pedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_metodo_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_metodo_pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_pedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
