@model Sexshop_TutsiPop.Models.pedidosinfo

@{
    ViewData["Title"] = "Detalles del Pedido";
    Layout = null;  // Aquí asegúrate de que el Layout es el correcto para tu aplicación
}

<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />
</head>

<h1>Detalles del Pedido</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionEntrega)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Barrio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPedido" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
