@model IEnumerable<Sexshop_TutsiPop.Models.pedidos>

@{
    ViewData["Title"] = "Lista de pedidos";
}

<!-- Importar estilos de FontAwesome y Boxicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />

<!-- Encabezado de la página -->
<h1>Lista de Proveedores</h1>

<!-- Botón para agregar nuevo proveedor -->
<a href="@Url.Action("Create", "pedidos")" class="btn-add">
    + Agregar Nuevo pedido
</a>

<!-- Tabla de proveedores -->
<table class="modern-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.id_pedido)</th>
            <th>@Html.DisplayNameFor(model => model.id_proveedor)</th>
            <th>@Html.DisplayNameFor(model => model.fecha_pedido)</th>
            <th>@Html.DisplayNameFor(model => model.id_direccion)</th>
            <th>@Html.DisplayNameFor(model => model.id_metodo_pago)</th>
            <th>@Html.DisplayNameFor(model => model.id_estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id_pedido)</td>
                <td>@Html.DisplayFor(modelItem => item.id_proveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.fecha_pedido)</td>
                <td>@Html.DisplayFor(modelItem => item.id_direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.id_metodo_pago)</td>
                <td>@Html.DisplayFor(modelItem => item.id_estado)</td>

                <td class="action-cell">
                    <!-- Botón Editar -->
                    <button class="action-btn" title="Editar">
                        <a asp-action="Edit" asp-route-id="@item.id_pedido">
                            <i class='bx bx-edit'></i>
                        </a>
                    </button>

                    <!-- Botón Detalles -->
                    <button class="action-btn" title="Detalles">
                        <a asp-action="Details" asp-route-id="@item.id_pedido">
                            <i class='bx bx-show-alt'></i>
                        </a>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn" title="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.id_pedido">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@* <!-- Botón para exportar a Excel -->
<a href="@Url.Action("ExportToExcel", "pedidos")" class="btn-export">
    <i class='bx bx-table'> Descargar Excel</i>
</a>
<link rel="stylesheet" href="~/css/ExcelStyle.css" /> *@
