@model IEnumerable<Sexshop_TutsiPop.Models.pedidosinfo>

@{
    ViewData["Title"] = "Lista de pedidos";
}

<!-- Importar estilos de FontAwesome y Boxicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/Indexs.css" />

<!-- Encabezado de la página -->
<h1>Lista de Pedidos</h1>


<a href="@Url.Action("Create", "pedidos")" class="btn-add">
    + Agregar Nuevo pedido
</a>

<!-- Tabla de proveedores -->
<table class="modern-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdPedido)</th>
            <th>@Html.DisplayNameFor(model => model.NombreProveedor)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoPedido)</th>
            <th>@Html.DisplayNameFor(model => model.MetodoPago)</th>
            <th>@Html.DisplayNameFor(model => model.DireccionEntrega)</th>
            <th>@Html.DisplayNameFor(model => model.Barrio)</th>
            <th>@Html.DisplayNameFor(model => model.Ciudad)</th>
            <th>@Html.DisplayNameFor(model => model.CodigoPostal)</th>
            <th>@Html.DisplayNameFor(model => model.Pais)</th>
            <th>@Html.DisplayNameFor(model => model.FechaPedido)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdPedido)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreProveedor)</td>
                <td>@Html.DisplayFor(modelItem => item.EstadoPedido)</td>
                <td>@Html.DisplayFor(modelItem => item.MetodoPago)</td>
                <td>@Html.DisplayFor(modelItem => item.DireccionEntrega)</td>
                <td>@Html.DisplayFor(modelItem => item.Barrio)</td>
                <td>@Html.DisplayFor(modelItem => item.Ciudad)</td>
                <td>@Html.DisplayFor(modelItem => item.CodigoPostal)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaPedido)</td>

                <td class="action-cell">
                    <!-- Botón Editar -->
                    <button class="action-btn" title="Editar">
                        <a asp-action="Edit" asp-route-id="@item.IdPedido">
                            <i class='bx bx-edit'></i>
                        </a>
                    </button>

                    <!-- Botón Detalles -->
                    <button class="action-btn" title="Detalles">
                        <a asp-action="Details" asp-route-id="@item.IdPedido">
                            <i class='bx bx-show-alt'></i>
                        </a>
                    </button>

                    <!-- Botón Eliminar -->
                    <button class="action-btn" title="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.IdPedido">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@* <!-- Botón para exportar a Excel -->
<a href="@Url.Action("ExportToExcel", "pedidos")" class="btn-export">
    <i class='bx bx-table'> Descargar Excel</i>
</a>
<link rel="stylesheet" href="~/css/ExcelStyle.css" /> *@
