@model Sexshop_TutsiPop.Models.detalle_pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>detalle_pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_pedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descuento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_detalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
