@model Sexshop_TutsiPop.Models.direcciones

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>
<h1>Direccion</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.barrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.barrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo_postal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo_postal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_direccion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
